<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin page</title>
</head>
<body>
    hi
    <div>
        <h1><strong><b><i>Wanna Check Graphs?</i></b></strong></h1>
         <br>
         <a href="{% url 'lineCharts' %}" target="_blank"> lineCharts</a>
         <br>
         <br>
         <a href="{% url 'multipleBoxPlot' %}" target="_blank"> multipleBoxPlot</a>
         <br>
    </div>
</body>
</html>